/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .note__card{
        padding-left: 0vw;padding-right: 0vw; width: 250px; background-color: beige;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .note__card{
        padding-left: 1vw;padding-right: 1vw; width: 350px;background-color: yellow;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .note__card{
        padding-left: 10vw;padding-right: 10vw; width: 30vw;background-color: greenyellow;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .note__card{
        padding-left: 20vw;padding-right: 20vw; width: 20vw;background-color: burlywood;
    }
}
.flex__row--center{
    display: flex;flex-direction: row;justify-content: center;width:100%;
}

.min-height__60{
    min-height:60vh;
}

.min-height__80{
    min-height:80vh;
}
.notes__cards{
    border: none;
}
