/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .note__card{
        padding: 1vw;
        border-radius: 1px;
        border: 2px solid black;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .note__card{
        padding: 2vw;
        border-radius: 2px;
        border: 2px solid red;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .note__card{
        ppadding: 3vw;
        border-radius: 3px;
        border: 2px solid blue;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .note__card{
        padding: 4vw;
        border-radius: 5px;
        border: 2px solid green;
    }
}
.flex__row--center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}
.flex__column--reverse{
    display: flex;
    flex-direction: column-reverse
}
.min-height__60{
    min-height:60vh;
}

.min-height__80{
    min-height:80vh;
}
.notes__cards{
    border: none;
}
